server/.env
**/.env

**/node_modules
**/dist
**/build
**/coverage
**/test-results
**/playwright-report

.idea
.vscode
*.log
*.tmp
*.cache

server/Images/*
!server/Images/default_news_img.jpg
!server/Images/.gitkeep