
nav {
  display: flex;
  align-items: center;
}
.nav-wrapper {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
}

.nav-item:not(:last-child) {
  margin-right: 25px;
}

.nav-item__link {
  position: relative;
  text-decoration: none;
  color: $dark;
  font-weight: 600;
  cursor: pointer;
  font-size: 0.9375rem;
  line-height: 1.25rem;

  &.active {
    color: $orange;
  }

  &:hover:not(.active) {
    text-decoration: underline;
  }

  transition: all 0.2s linear;
}
