.footer {
  padding: 65px 0 85px;
  background-color: $orange;

  .row {
    display: flex;
    flex-wrap: wrap;
  }

  .copyring {
    font-weight: 600;
    color: $white;

    &::before {
      content: '\00A9';
      margin-right: 10px;
    }
  }

  .bottom-options {
    margin-bottom: 30px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;

    a {
      text-decoration: underline;
      color: $white;
      opacity: 0.6;
      transition: all 0.3s;

      &:hover {
        opacity: 1;
      }
      &.active {
        color: $warning;
      }
    }
  }

  .footer-top-block {
    display: flex;
    justify-content: space-between;
    margin-left: 30px;
    margin-bottom: 25px;

    .nav-wrapper {
      padding: 0;
      margin-bottom: 30px;

      .nav-item__link {
        color: $white;

        &:hover {
          text-decoration: none;
          opacity: 0.6;
        }

        &.active {
          opacity: 0.6;
        }
      }
    }
  }

  .MuiDivider-root {
    border-color: $white;
    opacity: 0.4;
  }

  .footer-bottom-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

      a {
        opacity: 0.8;
        text-decoration: none;
        color: $white;

        &:hover {
          opacity: 0.6;
        }
      }

      .phone {
       padding-left: 30px;

      }
      .email {

      }

      .address {
        opacity: 0.8;
        color: $white;
      }
    }
}

@media (min-width: 300px) and (max-width: 767px) {
  .footer-top-block {
    flex-direction: column;
    .nav-wrapper {
      flex-direction: column;
    }
  }
}
@media (min-width: 300px) and (max-width: 1199px) {
  .footer-top-block {
    margin: 0 !important;

  }
  .footer-bottom-block {
    .phone {
      padding-left: 0 !important;
    }
  }
}