ymaps[class$="balloon__content"] {

  .bold {
    font-weight: bold;
  }
  #house-link {
    padding-bottom: 17px;
  }
}

ymaps[class$="balloon__layout"] {
  padding: 5px;
}

ymaps[class$="balloon__tail"]::after {

}