ymaps[class$="balloon__content"] {
  .bold {
    font-weight: bold;
  }
  .dispatcher {
    color: red
  }
}

ymaps[class$="balloon__layout"] {
  padding: 5px;
}

ymaps[class$="balloon__tail"]::after {

}